.amp-map-button {
	margin-top: -1.5rem;
	margin-bottom: 1.5rem;
	padding: 0.6rem 1.4rem;
	display: inline-block;
	cursor: pointer;
	background-color: #ee8f23;
	color: #fff;
}

.amp-map-button.hidden {
	display: none !important;
}


.apaczka-delivery-point-wrap {
    display:none;
}

.button.alt.geowidget_show_map {
    border: 0 !important;
    font-size: 19px !important;
    box-shadow: 0 15px 30px -18px rgba(0,0,0,90%) !important;
    color: #fff;
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    background-color: #29bb15;
    border-radius: 3px;
    line-height: 1em;
    padding: 7px 10px 12px 10px;
    /*max-width: 160px;*/
}

#apaczka_selected_point_data {
    border: 2px solid #29bb15;
    border-radius: 5px;
    padding: 10px;
    background: #fff;
}

#amp-delivery-point-desc {
    display: none;
    border: 2px solid #29bb15;
    border-radius: 5px;
    padding: 10px;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}


.button.alt.geowidget_show_map.checkout-block {
    border: 0 !important;
    font-size: 19px !important;
    box-shadow: 0 15px 30px -18px rgba(0, 0, 0, 90%) !important;
    color: #fff;
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    background-color: #29bb15;
    border-radius: 3px;
    line-height: 1em;
    padding: 7px 10px 12px 10px;
    /* max-width: 160px; */
    width: 200px;
    max-width: 100%;
}

@media (max-width: 950px) {
    .apaczkaMapMobileFilterButton {
        height: 40px !important;
        float: right;
        cursor: pointer;
    }

    .apaczkaMapMobileCloseButton {
        height: 40px !important;
        float: right;
        cursor: pointer;
    }

    .apaczkaMapMobileLogo {
        height: 40px !important;
    }
}


/* MAP modal starts */
.apaczka_mp_geowidget_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0.5 );
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.apaczka_mp_geowidget_modal_inner {
    background-color: white;
    width: 90%;
    height: 80%;
    /*max-width: 300px;*/
    padding: 20px;
    position: relative;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba( 0, 0, 0, 0.1 );
    margin-top: 5%;
}

#apaczka_mp_geowidget_modal_cross {
    position: absolute;
    top: 6px;
    right: 21px;
    font-size: 19px;
    cursor: pointer;
    /* padding: 5px; */
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #000;
    background: #e5dede;
    border-radius: 3px;
}
#apaczka_mp_geowidget_modal_inner_content {
    margin:20px 0;
    font-size:18px;
    width: 100%;
    height: 100%;
}

/* MAP modal ends */